<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a routerLink="/dashboard" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary">AFTAS</h3>
    </a>
    <div class="navbar-nav w-100">    
      <a routerLink="/dashboard" class="nav-item nav-link"><i class="fas fa-calendar-day me-2"></i>Today competition</a>
      <a routerLink="/competition" class="nav-item nav-link"><i class="fas fa-list-alt me-2"></i>All competition</a>
      <a routerLink="/register" class="nav-item nav-link"><i class="fas fa-user-plus me-2"></i>Register Member</a>
      <a routerLink="/member" class="nav-item nav-link"><i class="fas fa-users me-2"></i>Members</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
