<div class="col-sm-12 col-xl-12">
    <button (click)="toggleForm()" class="btn btn-primary btn-block">Add Competition</button>
  </div>
  <div class="col-sm-12 col-xl-12" [style.display]="isFormVisible ? 'block' : 'none'">
    <form #userForm="ngForm" class="bg-secondary rounded h-100 p-4" (ngSubmit)="register(userForm)">
      <h6 class="mb-4">Competition Form</h6>
      <div class="form-floating mb-3">
        <input [(ngModel)]="competition.location" type="text" class="form-control" id="location" placeholder="Location" name="location" required>
        <label for="location">Location</label>
      </div>
      <div class="form-floating mb-3">
        <input  type="date" class="form-control" id="date" name="date" required [(ngModel)]="competition.date">
        <label for="date">Date</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="competition.startTime" type="time" class="form-control" id="startTime" name="startTime" required>
        <label for="startTime">Start Time</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="competition.endTime" type="time" class="form-control" id="endTime" name="endTime" required>
        <label for="endTime">End Time</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="competition.numberOfParticipant" type="number" class="form-control" id="numberOfParticipant" placeholder="Number of Participants" name="numberOfParticipant" required>
        <label for="numberOfParticipant">Number of Participants</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="competition.amount" type="number" class="form-control" id="amount" placeholder="Amount" name="amount" required>
        <label for="amount">Amount</label>
      </div>  
      <button (click)="showalert()" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div [ngClass]="status=='200'?'text-success':'text-danger'"  class="alert" [class.visible]="isvisible"> 
      {{ message }}
    </div>
  </div>
  